@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
@import-normalize;

:root {
  --primary: #a8dadc;
  --secondary: #457b9d;
  --error: #e63946;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif";
  color: var(--secondary);
}
